.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  height: 80px;
  width: auto;
  object-fit: contain;
}

:global(html[data-theme='dark']) .featureImg {
  filter: invert(100%);
}

.featureDescription {
  font-size: 0.9rem;
  color: var(--ifm-color-content-secondary); /* Adapts to light/dark mode */
}
